/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}
body{
	background:#FFFFFF;
}
/*-- banner-top --*/
p{
    color: black;
}
.w3layouts-banner-top{
    background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.w3layouts-banner-top1{
	background: url(../images/4.jpg) no-repeat 0px 0px;
    background-size: cover;	
}
.w3layouts-banner-top2{
	background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;	
}
.agileinfo-dot{
	background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*-- //banner-top --*/
/*-- banner --*/
.banner{
	position: absolute;
    top: 0;
    z-index: 99;
    left: 0;
    width: 100%;
}
/*-- header --*/
.header {
    margin: 2em 0 0 0;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.w3layouts-logo h1{
	margin:0;
}
.w3layouts-logo h1 a {

    /*border: solid 1px #fff;*/
    
}

    .w3layouts-logo h1 a img{
        /*font-size: .9em;*/
        width: 250px;
        height: 120px;
    }

.navbar-nav {
    float: right;
    margin: 0;
    padding-top: 40px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    border: solid 1px rgba(255, 255, 255, 0);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #4CAF50;
	border: solid 1px #ffffff;
	background: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-nav > li > a {
    font-size: 1em;
    padding: .5em 1.5em;
    margin-right: 5px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #4CAF50;
    border: solid 1px #ffffff;
	border-radius: 30px;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    background: #ffffff;
}
/*-- //header --*/
.w3layouts-banner-slider {
    margin: 8em 0;
}
.agileits-banner-info {
    text-align: center;
    padding: 14em 0 12em;
}
.agileits-banner-info h3{
    color: #ffffff;
    font-size: 5em;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.agileits-banner-info h6{
    color: #FFFFFF;
    font-size: 1.1em;
    margin: 2em auto 0;
    font-family: 'Crimson Text', serif;
    font-style: italic;
}
.agileits-banner-info p{
    color: #FFFFFF;
    font-size: .9em;
    line-height: 1.8em;
    margin: 2em auto 0;
    width: 60%;
}
.w3-button{
	margin: 4em 0 1em 0;
}
.w3-button a{
    color: #FFFFFF;
    font-size: 1em;
    text-decoration: none;
    padding: 1.4em 1em;
    background: none;
    text-align: center;
    border: solid 2px #FFFFFF;
    margin: 10px;
}
.w3-button a:hover{
    color: #4CAF50;
	background:#FFFFFF;
	border: solid 2px #FFFFFF;
}
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 355px;
    left: 0;
    z-index: 9;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: transparent url(../images/arrows.png) no-repeat left top;
}
.callbacks_nav.next {
    left: auto;
    background-position: left top;
    right: 3%;
 }
 .callbacks_nav.prev {
    right: auto;
    background-position: right top;
    left: 3%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 84%;
    left: 48%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 999;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background: #4CAF50;
    border: 2px solid #ffffff;
}
/*-- //slider --*/
.agileits-w3layouts-info img{
	width:100%;
}
.modal-header h4 {
    color: #212121;
    font-size: 2em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.modal-header h4 span {
    font-size: .6em;
    font-weight: 400;
    font-family: 'Crimson Text', serif;
    text-transform: initial;
}
.modal-body p{
    margin: 1em 0 0 0;
    font-size: .875em;
    color: #999999;
    line-height: 1.8em;
}
/*-- about --*/
.about,.markets,.services,.testimonial-dot,.blog,.contact{
	padding:4em 0;
}
/*-- flex-slider --*/
#carousel li {
	margin-right: 0 !important;
    width: 107px !important;
}
#carousel img {display: block; opacity: .5; cursor: pointer;}
#carousel img:hover {opacity: 1;}
#carousel .flex-active-slide img {opacity: 1; cursor: default;}
.w3-about-left h2,.wthree-heading h3{
	color: #000000;
    font-size: 1.2em;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.w3-about-left h5,.wthree-heading h5{
    color: #212121;
    font-size: 1.1em;
    margin: 1em 0;
    font-family: 'Crimson Text', serif;
    font-style: italic;
}
.w3-about-left p{
	color:#000000;
	font-size:.9em;
	margin:0;
	line-height:2.5em;
}
.w3-about-left p span{
	display:block;
	margin:1em 0 0 0;
}
.w3l-button {
    margin: 2em 0 1em 0;
}
.w3l-button a {
    color: #212121;
    font-size: .9em;
    text-decoration: none;
    padding: .5em 2em;
    background: none;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border: solid 1px #000000;
}
.w3l-button a:hover {
    background:#4CAF50;
    border: solid 1px #4CAF50;
	color:#FFFFFF;
}
.w3l-button a:focus{
	outline:none;
}
/*-- about --*/
/*-- markets --*/
.markets{
	background:#f7f7f7;
}
.wthree-heading{
	text-align:center;
}
.markets-grids,.agile-services-grids,.posts-grids,.agile-contact-form {
    margin: 4em 0 0 0;
}
.agileits-icon-grid {
    padding: 1em;
    background: #FFFFFF;
    box-shadow: 0 0px 1px rgb(107, 107, 107),0 1px 2px rgba(0,0,0,.24);
}
.icon-left{
    float: left;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 1.2em 0 0 0;
    margin-right: 1em;
    background: #4CAF50;
}
.icon-left i.fa.fa-bar-chart,.icon-left i.fa.fa-line-chart,.icon-left i.fa.fa-area-chart,.icon-left i.fa.fa-signal,.icon-left i.fa.fa-money,.icon-left i.fa.fa-briefcase{
    color: #FFFFFF;
    font-size: 2em;
}
.icon-right{
    float: left;
    width: 70%;
}
.icon-right h5{
	color: #000000;
    font-size: 1em;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.icon-right p{
	color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
.w3ls-markets-grid:nth-child(4),.w3ls-markets-grid:nth-child(5),.w3ls-markets-grid:nth-child(6){
	margin:3em 0 0 0;
}
/*-- //markets --*/
/*-- services --*/
.agile-services-grid img{
	width:100%;
}
.agile-services-grid h6{
	color: #000000;
    font-size: 1em;
    margin: 1em 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.agile-services-grid p{
    color: #000000;
    font-size: .9em;
    margin:0;
    line-height: 1.8em;
}
.agile-services-grid ul{
	padding:0;
	margin:1em 0 0 0;
}
.agile-services-grid ul li{
    display: block;
    font-size: .9em;
    color: #999999;
    margin-top: 1em;
}
.agile-services-grid ul li span.glyphicon {
    padding-right: 6px;
}
/*-- //services --*/
.testimonial{
	background-color: #074b7e;
	background-size:cover;
}
.testimonial-dot{
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
.testimonial-heading h3{
	color:#FFFFFF;
}
.testimonial-heading h5{
	color:#FFFFFF;
}
.testimonial-img-grid{
    width: 28%;
    margin: 0 auto;
}
.testimonial-img{
	float: left;
    width: 26.33%;
}
.testimonial-img:nth-child(2){
	margin:0 2em;
}
.testimonial-img img{
	width:100%;
	border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
}
.t-img1 img,.t-img2 img{
	opacity: 0.6;
}
.testimonial-img-info{
	margin:2em 0 0 0;
}
.testimonial-img-info{
	text-align:center;
}
.testimonial-img-info p{
    color: #FFFFFF;
    font-size: .9em;
    margin:0 auto;
	width:60%;
    line-height: 1.8em;	
}
.testimonial-img-info h5{
    color: #FFFFFF;
    font-size: 1em;
    margin: 1em 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.testimonial-img-info h6{
	color: #FFFFFF;
    font-size: .9em;
    margin: 1em 0;
    font-family: 'Crimson Text', serif;
    font-style: italic;
}
/*-- blog --*/
.w3-agile-post-img a {
    background: url(../images/5.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 230px;
    display: block;
    text-decoration: none;
}
.w3-agile-post-img1 a {
    background: url(../images/6.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.w3-agile-post-img2 a {
    background: url(../images/10.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.w3-agile-post-img1 a:focus{
	outline:none;
}
.w3-agile-post-img a ul {
    padding: 11em 0 0 0;
    text-align: center;
    vertical-align: bottom;
}
.w3-agile-post-img a ul li {
	display: inline-block;
    color: #FFFFFF;
    font-size: 1em;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 20px;
}
.w3-agile-post-img a ul li:nth-child(1){
	background: #03A9F4;
}
.w3-agile-post-img a ul li:nth-child(2) {
    margin: 0 1em;
    background: #F44336;
}
.w3-agile-post-img a ul li:nth-child(3){
    background: #8BC34A;
}
.w3-agile-post-info h4 {
	margin: .5em 0;
}
.w3-agile-post-info h4 a {
    color: #000000;
    font-size: .9em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
}
.w3-agile-post-info h4 a:hover{
	color:#4CAF50;
}
.w3-agile-post-info h4 a:focus{
	outline:none;
}
.w3-agile-post-info p {
    color: #999999;
    font-size: .9em;
    margin: 0;
    line-height: 1.8em;
}
.w3-agile-post-info ul{
	padding:0;
	margin:0;
}
.w3-agile-post-info ul li{
	display: inline-block;
    color: #000000;
    font-size: 1em;
    font-family: 'Crimson Text', serif;
    font-style: italic;
}
.w3-agile-post-info ul li:nth-child(2){
    margin: 0 0 0 7em;
}
.w3-agile-post-info ul li a{
	color:#999999;
	text-decoration:none;
}
.w3-agile-post-info ul li a:hover{
	color:#4CAF50;
}
/*-- //blog --*/
/*-- contact --*/
.contact{
    background: #ffffff;	
}
.w3layouts-contact-form-top h3,.contact-form-top h3,.w3agile-map h3 {
	color: #000000;
    font-size: 1em;
    margin: 1em 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.w3layouts-contact-form-top p{
    font-size: .9em;
    color: #000000;
    margin: 1em 0 0;
    line-height: 1.8em;
}
.agileits-contact-address{
	margin: 3em 0 0 0;
}
.w3layouts-contact-form-top p{
	margin:2em 0;
}
.agileits-contact-address ul {
    padding: 0;
    margin: 0;
}
.agileits-contact-address ul li {
    display: block;
    margin: 1em 0;
}
.agileits-contact-address ul li i.fa.fa-phone,.agileits-contact-address ul li i.fa.fa-map-marker {
    height: 40px;
    width: 40px;
    background: #4caf50;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileits-contact-address ul li span {
    color: #999999;
    font-size: .875em;
    margin-left: 1em;
}
.agileits-contact-address ul li span a {
    color: #999999;
    text-decoration: none;
}
.agileits-contact-address ul li span a:hover{
    color: #4caf50;
}
.agileinfo-contact-form-grid{
    margin: 2em 0 0 0;
}
.agileinfo-contact-form-grid input[type="text"],.agileinfo-contact-form-grid input[type="email"] {
    display: inline-block;
    background: none;
    border: 1.5px solid #BBBBBB;
    width: 100%;
    outline: none;
    padding: 10px 15px 10px 15px;
    font-size: .9em;
    color: #BBBBBB;
    margin-bottom: 1.5em;
}
.agileinfo-contact-form-grid textarea {
    background: none;
    border: 1.5px solid #BBBBBB;
    width: 100%;
    display: block;
    height: 150px;
    outline: none;
    font-size: 0.9em;
    color: #BBBBBB;
    resize: none;
    padding: 10px 15px 10px 15px;
    margin-bottom: 1em;
}
button.btn1{
	color: #ffffff;
    font-size: .9em;
    text-decoration: none;
    padding: .5em 2em;
    background: #074b7e;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border: solid 1px #ffffff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
button.btn1:hover{
    border: solid 1px #4caf50;
    color: #FFF;
	background:#4caf50;
}
.w3agile-map {
    margin: 4em 0 0 0;
}
.w3agile-map iframe{
    border: none;
    min-height: 300px;
    width: 100%;
	margin:2em 0 0 0;
}
/*-- //contact --*/
/*-- copyright --*/
footer{
	background: #000000;
	padding:1em 0;
}
.copyright p{
	text-align:center;
	color:#FFFFFF;
	margin:0;
	font-size:.9em;
}
.copyright p a{
	color:#FFFFFF;
	text-decoration:none;
}
.copyright p a:hover{
	color:#4caf50;
}
/*-- //copyright --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive --*/
@media(max-width:1080px){
    .w3layouts-logo h1 a {
        /*font-size: .9em;
        width: 120px;
        height: 90px;*/
    }
    .w3layouts-logo h1 a img{
        /*font-size: .9em;*/
        width: 180px;
        height: 75px;
    }
	.icon-left {
		width: 59px;
		height: 59px;
		padding: 1em 0 0 0;
	}
	.testimonial-img-grid {
		width: 35%;
	}
}
@media(max-width:991px){
    .w3layouts-logo h1 a {
        /*font-size: .9em;
        width: 120px;
        height: 90px;*/
    }
    .w3layouts-logo h1 a img{
        /*font-size: .9em;*/
        width: 180px;
        height: 75px;
    }
	.navbar-nav > li > a {
		padding: .5em 1em;
	}
	.agileits-banner-info {
		padding: 9em 0 9em;
	}
	.agileits-banner-info h3 {
		font-size: 4em;
	}
	.callbacks_tabs {
		left: 47%;
	}
	.w3-about-left:nth-child(2) {
		margin: 2em 0 0 0;
	}
	.w3ls-markets-grid:nth-child(2){
		margin:1em 0;
	}
	.w3ls-markets-grid:nth-child(4), .w3ls-markets-grid:nth-child(5), .w3ls-markets-grid:nth-child(6) {
		margin: 1em 0 0 0;
	}
	.agile-services-grid:nth-child(2){
		margin:2em 0;
	}
	.testimonial-img-grid {
		width: 45%;
	}
	.w3-agile-post-img a ul {
		padding: 8em 0 0 0;
	}
	.w3-agile-post-img a ul li {
		font-size: .9em;
		padding: .5em .6em;
	}
	.w3-agile-post-img a ul li:nth-child(2) {
		margin: 0 0em;
	}
	.w3-agile-post-img a {
		min-height: 175px;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 3em;
	}
	.contact-form-right {
		margin: 2em 0 0;
	}
	.w3l-button a {
		width: 20%;
		display: block;
	}
	.w3l-button {
		margin: 2em 0 0 0;
	}
}
@media(max-width:800px){
    .w3layouts-logo h1 a {
        /*font-size: .9em;
        width: 120px;
        height: 90px;*/
    }
    .w3layouts-logo h1 a img{
        /*font-size: .9em;*/
        width: 180px;
        height: 75px;
    }
	.callbacks_tabs {
		left: 46%;
	}
}
@media(max-width:736px){
    .w3layouts-logo h1 a {
        /*font-size: .9em;
        width: 120px;
        height: 90px;*/
    }
    .w3layouts-logo h1 a img{
        /*font-size: .9em;*/
        width: 180px;
        height: 75px;
    }
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: none;
	}
	.navbar-nav {
	    float: none;
		margin: 0;
		text-align: center;
		background: rgba(0, 0, 0, 0.85);
	}
	.w3-agile-post-img a {
		min-height: 310px;
	}
	.w3-agile-post-grids:nth-child(2){
		margin:2em 0;
	}
	.w3-agile-post-img a ul {
		padding: 16em 0 0 0;
	}
}
@media(max-width:667px){
    .w3layouts-logo h1 a {
        /*font-size: .9em;
        width: 120px;
        height: 90px;*/
    }
    .w3layouts-logo h1 a img{
        /*font-size: .9em;*/
        width: 180px;
        height: 75px;
    }
    .w3layouts-logo h1 a {
        /*font-size: .9em;
        width: 120px;
        height: 90px;*/
    }
    .w3layouts-logo h1 a img{
        /*font-size: .9em;*/
        width: 183px;
        height: 75px;
    }
	.callbacks_tabs {
		left: 45%;
	}
	.callbacks_nav {
		bottom: 270px;
	}
	.testimonial-img-grid {
		width: 51%;
	}
}
@media(max-width:640px){
    .w3layouts-logo h1 a {
        /*font-size: .9em;
        width: 120px;
        height: 90px;*/
    }
    .w3layouts-logo h1 a img{
        /*font-size: .9em;*/
        width: 180px;
        height: 75px;
    }
	.agileits-banner-info p {
		width: 70%;
	}
	.testimonial-img-grid {
		width: 55%;
	}
}
@media(max-width:600px){
    .w3layouts-logo h1 a {
        /*font-size: .9em;
        width: 120px;
        height: 90px;*/
    }
    .w3layouts-logo h1 a img{
        /*font-size: .9em;*/
        width: 180px;
        height: 75px;
    }
	.agileits-banner-info h3 {
		font-size: 3em;
	}
	.testimonial-img-grid {
		width: 60%;
	}
	.testimonial-img-info p {
		width: 75%;
	}
}
@media(max-width:568px){
    .w3layouts-logo h1 a {
        /*font-size: .9em;
        width: 120px;
        height: 90px;*/
    }
    .w3layouts-logo h1 a img{
        /*font-size: .9em;*/
        width: 180px;
        height: 75px;
    }
	.agileits-banner-info p {
		width: 75%;
	}
	.callbacks_tabs {
		left: 44%;
	}
}
@media(max-width:480px){
    .w3layouts-logo h1 a {
        /*font-size: .9em;
        width: 120px;
        height: 90px;*/
    }
    .w3layouts-logo h1 a img{
        /*font-size: .9em;*/
        width: 180px;
        height: 75px;
    }
	.agileits-banner-info h3 {
		font-size: 2em;
	}
	.w3l-button a {
		width: 28%;
	}
	.agileits-banner-info {
		padding: 7em 0 6em;
	}
	.w3-button {
		margin: 3em 0 1em 0;
	}
	.callbacks_tabs {
		left: 43%;
	}
	.about, .markets, .services, .testimonial-dot, .blog, .contact {
		padding: 2em 0;
	}
	.markets-grids, .agile-services-grids, .posts-grids, .agile-contact-form {
		margin: 2em 0 0 0;
	}
	.testimonial-img {
		width: 23.33%;
	}
	.testimonial-img-info p {
		width: 85%;
	}
	.w3agile-map {
		margin: 2em 0 0 0;
	}
	.w3agile-map iframe {
		margin: 0em 0 0 0;
	}
	.agileits-contact-address {
		margin: 2em 0 0 0;
	}
}
@media(max-width:414px){
    .w3layouts-logo h1 a {
        /*font-size: .9em;
        width: 120px;
        height: 90px;*/
    }
    .w3layouts-logo h1 a img{
        /*font-size: .9em;*/
        width: 280px;
        height: 75px;
    }
	.w3l-button a {
		width: 34%;
	}
	.w3-agile-post-img a ul {
		padding: 10em 0 0 0;
	}
	.w3-agile-post-img a {
		min-height: 220px;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 7em;
	}
	.agileits-banner-info p {
		margin: 1em auto 0;
	}
	.agileits-banner-info h6 {
		margin: 1em auto 0;
	}
}
@media(max-width:384px){
    .w3layouts-logo h1 a {
        /*font-size: .9em;
        width: 120px;
        height: 90px;*/
    }
    .w3layouts-logo h1 a img{
        /*font-size: .9em;*/
        width: 180px;
        height: 75px;
    }
	.w3l-button a {
		width: 38%;
	}
	.callbacks_tabs {
		left: 42%;
	}
	.callbacks_nav {
		width: 40px;
		height: 40px;
		background: transparent url(../images/arrows.png) no-repeat left top;
		background-size: 202%;
	}
	.testimonial-img:nth-child(2) {
		margin: 0 1em;
	}
	.w3-button a {
		padding: 1em .6em;
	}
}
@media(max-width:375px){
	.w3layouts-logo h1 a {
		/*font-size: .9em;
        width: 120px;
        height: 90px;*/
	}
    .w3layouts-logo h1 a img{
        /*font-size: .9em;*/
        width: 180px;
        height: 75px;
    }
	.agileits-banner-info {
		padding: 7em 0 3em;
	}
	.callbacks_tabs {
		top: 90%;
	}
	.callbacks_nav {
		bottom: 204px;
	}
}
@media(max-width:320px){
    .w3layouts-logo h1 a {
        /*font-size: .9em;
        width: 120px;
        height: 90px;*/
    }
    .w3layouts-logo h1 a img{
        /*font-size: .9em;*/
        width: 180px;
        height: 75px;
    }
	.agileits-banner-info h3 {
		font-size: 1.5em;
	}
	.agileits-banner-info p {
		font-size: .8em;
	}
	.callbacks_nav {
		bottom: 165px;
	}
	.callbacks_tabs {
		left: 40%;
	}
	.w3-about-left h2, .wthree-heading h3 {
		font-size: 1em;
	}
	.w3l-button a {
		width: 46%;
	}
	.icon-left {
		float: none;
		margin: 0 auto 1em;
	}
	.icon-right {
		float: none;
		width: 100%;
		text-align: center;
	}
	.testimonial-img-grid {
		width: 80%;
	}
	.testimonial-img {
		width: 26.33%;
	}
	.testimonial-img-info {
		margin: 1em 0 0 0;
	}
	.w3-agile-post-info h4 a {
		letter-spacing: 3px;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 4em;
	}
	.w3-agile-post-img a {
		min-height: 160px;
	}
	.w3-agile-post-img a ul {
		padding: 7em 0 0 0;
	}
	.w3layouts-contact-form-top p {
		margin: 1em 0;
	}
	.agileinfo-contact-form-grid input[type="text"], .agileinfo-contact-form-grid input[type="email"] {
		margin-bottom: 0.5em;
	}
	.agileinfo-contact-form-grid textarea {
		height: 125px;
	}
	.w3agile-map iframe {
		min-height: 200px;
	}
	.testimonial-img-info p {
		width: 100%;
	}
	.modal-header h4 {
		font-size: 1.5em;
	}
}
/*-- //responsive --*/